@model Inventory.Models.ProductTypes

@{
    ViewData["Title"] = "Delete";
}




<br />
<h2 class="text-info">Delete Product</h2>

<form method="post">
    <div class="p-4 border rounded row">
        <input hidden asp-for="Id" />
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" readonly class="form-control" />
                </div>
            </div>

        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-danger" value="Delete" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
        </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

